[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/ellisonleao/hugo-theme-terminal.git
[submodule "public"]
	path = public
	url = git@github.com:ellisonleao/ellisonleao.github.io
